.cart
{
        margin-top: 100px;
}
.cart-item-title
{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color:grey;
    font-size:max(1vw,12px)
}
.cart-items-item
{
    margin: 10px 0;
    color: black;
}
.cart-items-item img
{
    width: 50px;
}
.cart hr
{
    height: 1px;
    background-color:  #e2e2e2; 
    border:none;
}
.cart .cross
{
    cursor: pointer;
}
.cart-bottom
{
    margin-top: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    place-self: center;
}
.cart-total h2
{
    text-align: center;
    font-size: 21px;
}
.cart-total-details
{
    display: flex;
    align-items: center;
    height:40px;
    padding: 0 50px;
    font-size: 18px;
    justify-content: space-between;
}
.cart-bottom button
{
    text-align: center;
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: tomato;
    margin-top: 25px;
    border-radius: 8px;
    display: flex;
    place-self: center;
    cursor: pointer;
}
.cart-bottom button:hover
{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
@media(max-width:750px)
{
    .cart-bottom
    {
        width:100%;
    }
}